<?xml version="1.0"?>
<!-- This file is part product_esale module for Tryton.
The COPYRIGHT file at the top level of this repository contains the full copyright notices and license terms. -->
<tryton>
    <data>
        <record model="ir.ui.view" id="menu_view_list">
            <field name="model">esale.catalog.menu</field>
            <field name="type">tree</field>
            <field name="priority">10</field>
            <field name="name">menu_list</field>
        </record>
        <record model="ir.ui.view" id="menu_view_tree">
            <field name="model">esale.catalog.menu</field>
            <field name="type">tree</field>
            <field name="priority">20</field>
            <field name="field_childs">childs</field>
            <field name="name">menu_tree</field>
        </record>
        <record model="ir.ui.view" id="menu_view_form">
            <field name="model">esale.catalog.menu</field>
            <field name="type">form</field>
            <field name="name">menu_form</field>
        </record>

        <record model="ir.action.act_window" id="act_menu_tree">
            <field name="name">Menus</field>
            <field name="res_model">esale.catalog.menu</field>
            <field name="domain">[('parent', '=', None)]</field>
        </record>
        <record model="ir.action.act_window.view" id="act_menu_tree_view1">
            <field name="sequence" eval="10"/>
            <field name="view" ref="menu_view_tree"/>
            <field name="act_window" ref="act_menu_tree"/>
        </record>
        <record model="ir.action.act_window.view" id="act_menu_tree_view2">
            <field name="sequence" eval="20"/>
            <field name="view" ref="menu_view_form"/>
            <field name="act_window" ref="act_menu_tree"/>
        </record>

        <menuitem parent="product.menu_main_product" sequence="2"
            action="act_menu_tree" id="menu_menu_tree"/>
        <record model="ir.ui.menu-res.group" id="menu_menu_tree_group_product_esale">
            <field name="menu" ref="menu_menu_tree"/>
            <field name="group" ref="group_product_esale"/>
        </record>

        <record model="ir.action.act_window" id="act_menu_list">
            <field name="name">Menus</field>
            <field name="res_model">esale.catalog.menu</field>
        </record>
        <record model="ir.action.act_window.view" id="act_menu_list_view1">
            <field name="sequence" eval="10"/>
            <field name="view" ref="menu_view_list"/>
            <field name="act_window" ref="act_menu_list"/>
        </record>
        <record model="ir.action.act_window.view" id="act_menu_list_view2">
            <field name="sequence" eval="20"/>
            <field name="view" ref="menu_view_form"/>
            <field name="act_window" ref="act_menu_list"/>
        </record>
        <menuitem parent="menu_menu_tree"
            sequence="10" id="menu_menu_list"
            action="act_menu_list"/>

        <record model="ir.model.access" id="access_product_esale_menu">
            <field name="model" search="[('model', '=', 'esale.catalog.menu')]"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="False"/>
            <field name="perm_create" eval="False"/>
            <field name="perm_delete" eval="False"/>
        </record>
        <record model="ir.model.access" id="access_product_esale_menu_admin">
            <field name="model" search="[('model', '=', 'esale.catalog.menu')]"/>
            <field name="group" ref="product.group_product_admin"/>
            <field name="perm_read" eval="True"/>
            <field name="perm_write" eval="True"/>
            <field name="perm_create" eval="True"/>
            <field name="perm_delete" eval="True"/>
        </record>

        <!-- Open products by menus -->
        <record model="ir.action.act_window" id="act_template_by_esale_catalog_menu">
            <field name="name">Products by Menu</field>
            <field name="res_model">product.template</field>
            <field name="domain">[('esale_menus','child_of', [Eval('active_id')], 'parent')]</field>
        </record>
        <record model="ir.action.act_window.view" id="act_template_by_esale_catalog_menu_view1">
            <field name="sequence" eval="10"/>
            <field name="view" ref="product.template_view_tree"/>
            <field name="act_window" ref="act_template_by_esale_catalog_menu"/>
        </record>
        <record model="ir.action.act_window.view" id="act_template_by_esale_catalog_menu_view2">
            <field name="sequence" eval="20"/>
            <field name="view" ref="product.template_view_form"/>
            <field name="act_window" ref="act_template_by_esale_catalog_menu"/>
        </record>
        <record model="ir.action.keyword" id="act_template_by_esale_catalog_menu_keyword1">
            <field name="keyword">tree_open</field>
            <field name="model">esale.catalog.menu,-1</field>
            <field name="action" ref="act_template_by_esale_catalog_menu"/>
        </record>
    </data>
</tryton>
